/* line 41, ../../src/css/base.sass */
.mod {
  margin-bottom: 50px;
}
/* line 43, ../../src/css/base.sass */
.mod .hd {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 1;
}

/* line 49, ../../src/css/base.sass */
.ts {
  margin-left: 2em;
}

/* line 51, ../../src/css/base.sass */
.ts2 {
  margin-left: 4em;
}

/* line 53, ../../src/css/base.sass */
.mr5 {
  margin-right: 5px !important;
}

/* line 58, ../../src/css/base.sass */
.sub-params th:first-child, .sub-params td:first-child {
  border-left: none;
}

/* line 61, ../../src/css/base.sass */
body {
  position: relative;
  padding-top: 50px;
}

/* line 65, ../../src/css/base.sass */
iframe {
  border: none;
  width: 100%;
}

/* line 69, ../../src/css/base.sass */
ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 74, ../../src/css/base.sass */
#header {
  background: #5bc0de;
  border-color: #28a1c5;
}
/* line 77, ../../src/css/base.sass */
#header .navbar-collapse, #header .navbar-form {
  border-color: #28a1c5;
}
/* line 79, ../../src/css/base.sass */
#header .navbar-toggle {
  border-color: #28a1c5;
}
/* line 81, ../../src/css/base.sass */
#header .navbar-toggle:hover, #header .navbar-toggle:focus {
  background-color: #28a1c5;
}
/* line 84, ../../src/css/base.sass */
#header .navbar-toggle.collapsed .icon-bar {
  background: white;
}
/* line 86, ../../src/css/base.sass */
#header .navbar-brand {
  color: white;
  font-weight: bold;
}
/* line 18, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#header .navbar-brand:visited {
  color: white;
}
/* line 21, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#header .navbar-brand:focus {
  color: white;
}
/* line 24, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#header .navbar-brand:hover {
  color: white;
}
/* line 27, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#header .navbar-brand:active {
  color: white;
}
/* line 89, ../../src/css/base.sass */
#header .navbar-nav {
  height: 50px;
}
/* line 91, ../../src/css/base.sass */
#header .navbar-nav a {
  height: 50px;
  line-height: 50px;
  color: #d6eff6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 15px;
  background: transparent;
}
/* line 18, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#header .navbar-nav a:visited {
  color: #d6eff6;
}
/* line 21, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#header .navbar-nav a:focus {
  color: #d6eff6;
}
/* line 24, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#header .navbar-nav a:hover {
  color: #d6eff6;
}
/* line 27, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#header .navbar-nav a:active {
  color: #d6eff6;
}
/* line 97, ../../src/css/base.sass */
#header .navbar-nav a:hover {
  height: 51px;
  line-height: 51px;
  color: white;
  border-bottom: 3px solid #c7254e;
}
/* line 18, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#header .navbar-nav a:hover:visited {
  color: white;
}
/* line 21, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#header .navbar-nav a:hover:focus {
  color: white;
}
/* line 24, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#header .navbar-nav a:hover:hover {
  color: white;
}
/* line 27, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#header .navbar-nav a:hover:active {
  color: white;
}
/* line 101, ../../src/css/base.sass */
#header .navbar-nav .active a {
  color: white;
  background: #28a1c5;
}
/* line 18, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#header .navbar-nav .active a:visited {
  color: white;
}
/* line 21, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#header .navbar-nav .active a:focus {
  color: white;
}
/* line 24, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#header .navbar-nav .active a:hover {
  color: white;
}
/* line 27, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#header .navbar-nav .active a:active {
  color: white;
}
/* line 104, ../../src/css/base.sass */
#header .navbar-nav .active a:hover {
  border-bottom: none;
}
/* line 106, ../../src/css/base.sass */
#header .container {
  position: relative;
}
/* line 108, ../../src/css/base.sass */
#header .github {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: absolute;
  top: 50px;
  right: 15px;
  background: #c7254e;
  color: white;
  border-top: none;
  padding: 10px 15px;
}
/* line 117, ../../src/css/base.sass */
#header .github i {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  height: 16px;
  width: 16px;
  background: url("../img/github.png") no-repeat;
  -webkit-background-size: 16px, 16px;
  -moz-background-size: 16px, 16px;
  -o-background-size: 16px, 16px;
  background-size: 16px, 16px;
  overflow: hidden;
  margin-right: 10px;
}

/* line 123, ../../src/css/base.sass */
.jumbotron h1 em {
  color: #c7254e;
  font-style: normal;
}
/* line 126, ../../src/css/base.sass */
.jumbotron h1 span {
  color: #5bc0de;
}
/* line 128, ../../src/css/base.sass */
.jumbotron .advantages {
  padding: 20px 0 0 50px;
  margin: 35px 0 0 0;
  border-top: 2px dashed #5bc0de;
}
/* line 132, ../../src/css/base.sass */
.jumbotron .advantages .glyphicon-ok {
  color: #5bc0de;
  margin-right: 20px;
}

/* line 136, ../../src/css/base.sass */
.bs-footer {
  padding-top: 40px;
  padding-bottom: 30px;
  margin-top: 100px;
  color: #666666;
  border-top: 1px solid #e5e5e5;
}

/* line 4, ../../src/css/api.sass */
.bs-sidebar {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0 1px 0 white;
  background-color: #eef8fb;
  display: none;
  padding: 10px 0;
}
/* line 10, ../../src/css/api.sass */
.bs-sidebar a {
  color: #666666;
}
/* line 18, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.bs-sidebar a:visited {
  color: #666666;
}
/* line 21, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.bs-sidebar a:focus {
  color: #666666;
}
/* line 24, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.bs-sidebar a:hover {
  color: #666666;
}
/* line 27, ../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.bs-sidebar a:active {
  color: #666666;
}
/* line 12, ../../src/css/api.sass */
.bs-sidebar.affix {
  position: static;
}
/* line 14, ../../src/css/api.sass */
.bs-sidebar .nav {
  margin-bottom: 8px;
}
/* line 18, ../../src/css/api.sass */
.bs-sidebar .nav .active a, .bs-sidebar .nav .active:hover a, .bs-sidebar .nav .active:focus a {
  font-weight: bold;
  color: #333333;
  background-color: transparent;
  border-right: 1px solid #28a1c5;
}

@media (min-width: 992px) {
  /* line 25, ../../src/css/api.sass */
  .bs-sidebar {
    display: block;
  }
  /* line 27, ../../src/css/api.sass */
  .bs-sidebar.affix {
    position: fixed;
    top: 70px;
  }
  /* line 30, ../../src/css/api.sass */
  .bs-sidebar.affix-bottom {
    position: absolute;
  }
  /* line 32, ../../src/css/api.sass */
  .bs-sidebar.affix, .bs-sidebar.affix-bottom {
    width: 213px;
  }
  /* line 34, ../../src/css/api.sass */
  .bs-sidebar.affix .bs-sidenav, .bs-sidebar.affix-bottom .bs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  /* line 40, ../../src/css/api.sass */
  .bs-sidebar.affix, .bs-sidebar.affix-bottom {
    width: 263px;
  }
}
