.mod {
  margin-bottom: 50px;
}
.mod .hd {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 1;
}

.ts {
  margin-left: 2em;
}

.ts2 {
  margin-left: 4em;
}

.mr5 {
  margin-right: 5px !important;
}

.sub-params th:first-child, .sub-params td:first-child {
  border-left: none;
}

body {
  position: relative;
  padding-top: 50px;
}

iframe {
  border: none;
  width: 100%;
}

ul, ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

#header {
  background: #5bc0de;
  border-color: #28a1c5;
}
#header .navbar-collapse, #header .navbar-form {
  border-color: #28a1c5;
}
#header .navbar-toggle {
  border-color: #28a1c5;
}
#header .navbar-toggle:hover, #header .navbar-toggle:focus {
  background-color: #28a1c5;
}
#header .navbar-toggle.collapsed .icon-bar {
  background: white;
}
#header .navbar-brand {
  color: white;
  font-weight: bold;
}
#header .navbar-brand:visited {
  color: white;
}
#header .navbar-brand:focus {
  color: white;
}
#header .navbar-brand:hover {
  color: white;
}
#header .navbar-brand:active {
  color: white;
}
#header .navbar-nav {
  height: 50px;
}
#header .navbar-nav a {
  height: 50px;
  line-height: 50px;
  color: #d6eff6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 15px;
  background: transparent;
}
#header .navbar-nav a:visited {
  color: #d6eff6;
}
#header .navbar-nav a:focus {
  color: #d6eff6;
}
#header .navbar-nav a:hover {
  color: #d6eff6;
}
#header .navbar-nav a:active {
  color: #d6eff6;
}
#header .navbar-nav a:hover {
  height: 51px;
  line-height: 51px;
  color: white;
  border-bottom: 3px solid #c7254e;
}
#header .navbar-nav a:hover:visited {
  color: white;
}
#header .navbar-nav a:hover:focus {
  color: white;
}
#header .navbar-nav a:hover:hover {
  color: white;
}
#header .navbar-nav a:hover:active {
  color: white;
}
#header .navbar-nav .active a {
  color: white;
  background: #28a1c5;
}
#header .navbar-nav .active a:visited {
  color: white;
}
#header .navbar-nav .active a:focus {
  color: white;
}
#header .navbar-nav .active a:hover {
  color: white;
}
#header .navbar-nav .active a:active {
  color: white;
}
#header .navbar-nav .active a:hover {
  border-bottom: none;
}
#header .container {
  position: relative;
}
#header .github {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: absolute;
  top: 50px;
  right: 15px;
  background: #c7254e;
  color: white;
  border-top: none;
  padding: 10px 15px;
}
#header .github i {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  height: 16px;
  width: 16px;
  background: url("../img/github.png") no-repeat;
  -webkit-background-size: 16px, 16px;
  -moz-background-size: 16px, 16px;
  -o-background-size: 16px, 16px;
  background-size: 16px, 16px;
  overflow: hidden;
  margin-right: 10px;
}

.jumbotron h1 em {
  color: #c7254e;
  font-style: normal;
}
.jumbotron h1 span {
  color: #5bc0de;
}
.jumbotron .advantages {
  padding: 20px 0 0 50px;
  margin: 35px 0 0 0;
  border-top: 2px dashed #5bc0de;
}
.jumbotron .advantages .glyphicon-ok {
  color: #5bc0de;
  margin-right: 20px;
}

.bs-footer {
  padding-top: 40px;
  padding-bottom: 30px;
  margin-top: 100px;
  color: #666666;
  border-top: 1px solid #e5e5e5;
}
.bs-footer .copyright a {
  margin-left: 15px;
}

body {
  padding-top: 0;
}

#playlist-demo {
  width: 320px;
  margin-bottom: 20px;
  border: 1px solid #5bc0de;
}
#playlist-demo li {
  height: 35px;
  line-height: 35px;
  border-bottom: 1px solid #eeeeee;
  padding: 0 20px;
  cursor: pointer;
}
#playlist-demo li:hover {
  background: #f4f4f4;
}
#playlist-demo li .time {
  font-size: 12px;
  color: #999999;
  margin-left: 15px;
}
#playlist-demo li .play-btn {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  height: 12px;
  width: 12px;
  background: url("../img/play.png") no-repeat;
  -webkit-background-size: 12px, 12px;
  -moz-background-size: 12px, 12px;
  -o-background-size: 12px, 12px;
  background-size: 12px, 12px;
  overflow: hidden;
  margin-right: 20px;
}
#playlist-demo li.playing .play-btn {
  background-image: url("../img/pause.png");
}
