.mod {
  margin-bottom: 50px;
}
.mod .hd {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 1;
}

.ts {
  margin-left: 2em;
}

.ts2 {
  margin-left: 4em;
}

.mr5 {
  margin-right: 5px !important;
}

.sub-params th:first-child, .sub-params td:first-child {
  border-left: none;
}

body {
  position: relative;
  padding-top: 50px;
}

iframe {
  border: none;
  width: 100%;
}

h1, h2 {
  margin-top: 40px;
}

ul, ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

#header {
  background: #5bc0de;
  border-color: #28a1c5;
}
#header .navbar-collapse, #header .navbar-form {
  border-color: #28a1c5;
}
#header .navbar-toggle {
  border-color: #28a1c5;
}
#header .navbar-toggle:hover, #header .navbar-toggle:focus {
  background-color: #28a1c5;
}
#header .navbar-toggle.collapsed .icon-bar {
  background: white;
}
#header .navbar-brand {
  color: white;
  font-weight: bold;
}
#header .navbar-brand:visited {
  color: white;
}
#header .navbar-brand:focus {
  color: white;
}
#header .navbar-brand:hover {
  color: white;
}
#header .navbar-brand:active {
  color: white;
}
#header .navbar-nav {
  height: 50px;
}
#header .navbar-nav a {
  height: 50px;
  line-height: 50px;
  color: #d6eff6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 15px;
  background: transparent;
}
#header .navbar-nav a:visited {
  color: #d6eff6;
}
#header .navbar-nav a:focus {
  color: #d6eff6;
}
#header .navbar-nav a:hover {
  color: #d6eff6;
}
#header .navbar-nav a:active {
  color: #d6eff6;
}
#header .navbar-nav a:hover {
  height: 51px;
  line-height: 51px;
  color: white;
  border-bottom: 3px solid #c7254e;
}
#header .navbar-nav a:hover:visited {
  color: white;
}
#header .navbar-nav a:hover:focus {
  color: white;
}
#header .navbar-nav a:hover:hover {
  color: white;
}
#header .navbar-nav a:hover:active {
  color: white;
}
#header .navbar-nav .active a {
  color: white;
  background: #28a1c5;
}
#header .navbar-nav .active a:visited {
  color: white;
}
#header .navbar-nav .active a:focus {
  color: white;
}
#header .navbar-nav .active a:hover {
  color: white;
}
#header .navbar-nav .active a:active {
  color: white;
}
#header .navbar-nav .active a:hover {
  border-bottom: none;
}
#header .container {
  position: relative;
}
#header .github {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: absolute;
  top: 50px;
  right: 15px;
  background: #c7254e;
  color: white;
  border-top: none;
  padding: 10px 15px;
}
#header .github i {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  height: 16px;
  width: 16px;
  background: url("../img/github.png") no-repeat;
  -webkit-background-size: 16px, 16px;
  -moz-background-size: 16px, 16px;
  -o-background-size: 16px, 16px;
  background-size: 16px, 16px;
  overflow: hidden;
  margin-right: 10px;
}

.jumbotron h1 em {
  color: #c7254e;
  font-style: normal;
}
.jumbotron h1 span {
  color: #5bc0de;
}
.jumbotron .advantages {
  padding: 20px 0 0 50px;
  margin: 35px 0 0 0;
  border-top: 2px dashed #5bc0de;
}
.jumbotron .advantages .glyphicon-ok {
  color: #5bc0de;
  margin-right: 20px;
}

.bs-footer {
  padding-top: 40px;
  padding-bottom: 30px;
  margin-top: 100px;
  color: #666666;
  border-top: 1px solid #e5e5e5;
}
.bs-footer .copyright a {
  margin-left: 15px;
}

pre.language-javascript {
  font-size: 14px;
}

body {
  padding-top: 0;
}

.bar, #player-demo .volume .bar, #player-demo .progress-bar {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  height: 2px;
  width: 100px;
  cursor: pointer;
  background: white;
  position: relative;
}
.bar .ui-slider-range, #player-demo .volume .bar .ui-slider-range, #player-demo .progress-bar .ui-slider-range {
  height: 2px;
  background: #ff6501;
}
.bar .ui-slider-handle, #player-demo .volume .bar .ui-slider-handle, #player-demo .progress-bar .ui-slider-handle {
  height: 5px;
  width: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  background: #ff6501;
  top: -1.5px;
}

#player-demo {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  *zoom: 1;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 1px;
  margin-bottom: 20px;
  width: 320px;
  background: #5bc0de;
  position: relative;
  padding-bottom: 3px;
}
#player-demo:after {
  content: "";
  display: table;
  clear: both;
}
#player-demo .glyphicon {
  color: white;
}
#player-demo .glyphicon:hover {
  color: #d6eff6;
}
#player-demo .opts {
  padding-left: 12px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -17.5px;
}
#player-demo .opts > span {
  cursor: pointer;
}
#player-demo .opts .ctrl {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  text-align: center;
  border: 2px solid white;
}
#player-demo .opts .ctrl:hover {
  background: #28a1c5;
}
#player-demo .opts .ctrl:hover i {
  color: white;
}
#player-demo .opts .ctrl i {
  font-size: 17px;
  line-height: 29px;
}
#player-demo .opts .mode {
  margin-left: 12px;
}
#player-demo .opts .mode i {
  width: 1.2em;
}
#player-demo .volume {
  position: absolute;
  left: 140px;
  top: 50%;
  margin-top: -10px;
}
#player-demo .volume i {
  width: 1.2em;
  text-align: left;
  color: #ff6501;
  cursor: pointer;
}
#player-demo .volume i:hover {
  color: #ff6501;
}
#player-demo .volume.mute .bar, #player-demo .volume.mute .progress-bar {
  background: #d6eff6;
}
#player-demo .avatar, #player-demo .avatar img {
  display: inline;
  float: right;
  height: 50px;
  width: 50px;
}
#player-demo .progress-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: white;
}
#player-demo .progress-bar, #player-demo .progress-bar .ui-slider-range {
  height: 3px;
}
#player-demo .progress-bar.ui-state-disabled {
  cursor: default;
}
#player-demo .progress-bar.ui-state-disabled .ui-slider-handle {
  cursor: default;
}
